<?xml version="1.0" encoding="UTF-8" ?>
<ScriptSettings>
  <AssemblyReference resolver="local">DLL\EKVegas.dll</AssemblyReference>
  <AssemblyReference resolver="local">DLL\NAudio.dll</AssemblyReference>
  <AssemblyReference resolver="local">DLL\System.Core.dll</AssemblyReference>
</ScriptSettings>